.mainarea{
    height: calc(100vh - 4.5rem);
    width: calc(100vw - 11rem);
}

@media only screen and (max-width: 1024px){
    .mainarea{
        /* height: calc(100vh - 4.5rem); */
        width: 100%;
    }
}


.logo_effect{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.4px);
-webkit-backdrop-filter: blur(6.4px);
border: 1px solid rgba(255, 255, 255, 0.3);
}